/* .testimonials {
  margin-bottom: 0px;
}

.testimonials div {
  margin-bottom: 60px;
}

.by {
  text-align: right;
} */


.testimonials blockquote {
  text-align: justify;
}

.testimonials .by {
  text-align: center;
  font-weight: bold;
}

#fine {
  text-decoration: underline;
}

.welcome {
    // background-image: url("../media/jenn.webp");
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://doc-00-ac-docs.googleusercontent.com/docs/securesc/781nt88v07piqft5ckgt1e3r3smmsain/ekm5kmp37shl2h1q3t9qhh4eddh0ck2f/1629312375000/15652973058926020989/15652973058926020989/1YDNhu00E4FyG696IvopWLu1r87F13H55?authuser=0&nonce=7fcpsrb8v5t8g&user=15652973058926020989&hash=0ej4v0864s6rckmihon2cpq2q95en5tg');
    background-size: cover;
    background-attachment: fixed;
}