/* .testimonials {
  margin-bottom: 0px;
}

.testimonials div {
  margin-bottom: 60px;
}

.by {
  text-align: right;
} */


.testimonials blockquote {
  text-align: justify;
}

.testimonials .by {
  text-align: center;
  font-weight: bold;
}

#fine {
  text-decoration: underline;
}
