/* .testimonials {
  margin-bottom: 0px;
}

.testimonials div {
  margin-bottom: 60px;
}

.by {
  text-align: right;
} */


.testimonials blockquote {
  text-align: justify;
}

.testimonials .by {
  text-align: center;
  font-weight: bold;
}

#fine {
  text-decoration: underline;
}

.welcome {
    // background-image: url("../media/jenn.webp");
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('https://mindfulmeditation.services/jenn.webp');
    background-size: cover;
    background-attachment: fixed;
}

.flyer img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}